<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.die_bartmanns.daniel.mymeal">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera">
    </uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.die_bartmanns.daniel.mymeal.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.die_bartmanns.daniel.mymeal.ui.MealDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.die_bartmanns.daniel.mymeal.ui.MainActivity">
            </meta-data>
        </activity>

        <activity
            android:name="de.die_bartmanns.daniel.mymeal.ui.addMeal.AddMealMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="de.die_bartmanns.daniel.mymeal.ui.OnlineActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>


        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="de.die_bartmanns.daniel.mymeal.ui.ImagePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.die_bartmanns.daniel.mymeal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>